[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
Exec=renku
Name=Renku
Name[ca]=Renku
Name[ca@valencia]=Renku
Name[da]=Renku
Name[de]=Renku
Name[en_GB]=Renku
Name[es]=Renku
Name[fi]=Renku
Name[gl]=Renku
Name[it]=Renku
Name[nl]=Renku
Name[pl]=Renku
Name[pt]=Renku
Name[pt_BR]=Renku
Name[sk]=Renku
Name[sv]=Renku
Name[tr]=Renku
Name[uk]=Renku
Name[x-test]=xxRenkuxx
Icon=zanshin
GenericName=Note Taking Application
GenericName[ca]=Aplicació per prendre notes
GenericName[ca@valencia]=Aplicació per prendre notes
GenericName[da]=Program til at tage noter
GenericName[de]=Programm zur Notizenerstellung
GenericName[en_GB]=Note Taking Application
GenericName[es]=Aplicación para tomar notas
GenericName[fi]=Muistiinpanosovellus
GenericName[gl]=Aplicativo para tomar notas
GenericName[it]=Applicazione per prendere delle note
GenericName[nl]=Toepassing voor notities
GenericName[pl]=Aplikacja do robienia notatek
GenericName[pt]=Aplicação de Apontamentos de Notas
GenericName[pt_BR]=Aplicativo de notas
GenericName[sk]=Aplikácia na tvorbu poznámok
GenericName[sv]=Anteckningsprogram
GenericName[tr]=Not Alma Uygulaması
GenericName[uk]=Програма для роботи з нотатками
GenericName[x-test]=xxNote Taking Applicationxx
X-DBUS-ServiceName=org.kde.renku
