[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
Exec=renku
Name=Renku
Icon=zanshin
GenericName=Note Taking Application
X-DBUS-ServiceName=org.kde.renku
