[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
Exec=renku
Name=Renku
Name[fi]=Renku
Name[nl]=Renku
Name[pt]=Renku
Name[sv]=Renku
Name[uk]=Renku
Name[x-test]=xxRenkuxx
Icon=knotes
GenericName=Note Taking Application
GenericName[fi]=Muistiinpanosovellus
GenericName[nl]=Toepassing voor notities
GenericName[pt]=Aplicação de Apontamentos de Notas
GenericName[sv]=Anteckningsprogram
GenericName[uk]=Програма для роботи з нотатками
GenericName[x-test]=xxNote Taking Applicationxx
