<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="renku" version="2">
 <MenuBar>
  <Menu name="file">
   <Action name="pages_tag_add" />
   <Action name="pages_remove" />
   <Separator />
   <Action name="page_view_add" />
   <Action name="page_view_remove" />
   <Action name="page_view_move" />
  </Menu>
  <Menu name="go">
   <text>&amp;Go</text>
   <Action name="page_view_filter" />
   <Separator />
   <Action name="pages_go_previous" />
   <Action name="pages_go_next" />
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar" >
  <text context="@title:menu">Main Toolbar</text>
  <Action name="pages_go_previous" />
  <Action name="pages_go_next" />
  <Separator />
  <Action name="page_view_add" />
  <Separator />
  <Action name="page_view_filter" />
 </ToolBar>
</kpartgui>
