[Desktop Entry]
Name=Zanshin Part
Name[bs]=Zanshin Part
Name[ca]=Part del Zanshin
Name[ca@valencia]=Part del Zanshin
Name[da]=Zanshin Part
Name[de]=Zanshin-Part
Name[en_GB]=Zanshin Part
Name[es]=Zanshin Part
Name[et]=Zanshini komponent
Name[eu]=Zanshin Part
Name[fi]=Zanshin-osa
Name[fr]=Composant Zanshin
Name[ga]=Comhpháirt
Name[gl]=Parte de Zanshin
Name[hu]=Zanshin komponens
Name[ia]=Parte de Zanshin
Name[it]=Componente di Zanshin
Name[km]=ផ្នែក Zanshin
Name[ko]=Zanshin 부분
Name[lt]=Zanshin dalis
Name[mr]=झान्शिन पार्ट
Name[nl]=Zanshin-onderdeel
Name[nn]=Zanshin-del
Name[pl]=Moduł Zanshin
Name[pt]=Componente do Zanshin
Name[pt_BR]=Parte do Zanshin
Name[ru]=Модуль Zanshin
Name[sk]=Časť Zanshin
Name[sl]=Zanshinov del
Name[sv]=Zanshin-delprogram
Name[tr]=Zanshin Part
Name[uk]=Модуль Zanshin
Name[x-test]=xxZanshin Partxx
Name[zh_CN]=Zanshin 组件
Name[zh_TW]=Zanshin Part
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=zanshin_part
Type=Service
Icon=zanshin

