[Desktop Entry]
Type=Service
Icon=zanshin
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact5/kontact_zanshinplugin
X-KDE-KontactPluginVersion=10
X-KDE-KontactPartLibraryName=zanshin_part
X-KDE-KontactPartExecutableName=zanshin
X-KDE-KontactPartLoadOnStart=false
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_zanshinplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-AllowEmptySettings=true

Comment=Kontact Zanshin Plugin
Comment[bs]=Kontact Zanshin priključaka
Comment[ca]=Connector del Zanshin per al Kontact
Comment[ca@valencia]=Connector del Zanshin per al Kontact
Comment[da]=Zanshin-plugin til Kontact
Comment[de]=Zanshin-Modul für Kontakt
Comment[en_GB]=Kontact Zanshin Plugin
Comment[es]=Complemento Kontact para Zanshin
Comment[et]=Kontacti Zanshini plugin
Comment[eu]=Kontact-en Zanshin plugina
Comment[fi]=Kontactin Zanshin-osa
Comment[fr]=Module externe Zanshin pour Kontact
Comment[ga]=Breiseán Zanshin le haghaidh Kontact
Comment[gl]=Complemento de Zanshin para Kontact
Comment[hu]=Kontact Zanshin-bővítmény
Comment[ia]=Plugin Zanshin de Kontact
Comment[it]=Estensione per Kontact di Zanshin
Comment[km]=កម្មវិធី​ជំនួយ​របស់ Kontact Zanshin
Comment[ko]=Kontact Zanshin 플러그인
Comment[lt]=Kontact Zanshin papildinys
Comment[mr]=कॉन्टॅक्ट झान्शिन प्लगइन
Comment[nl]=Kontact-plugin voor Zanshin
Comment[pl]=Wtyczka kontaktów Zanshin
Comment[pt]='Plugin' do Zanshin para o Kontact
Comment[pt_BR]=Plugin do Zanshin para o Kontact
Comment[ru]=Модуль Zanshin для Kontact
Comment[sk]=Kontact Zanshin Plugin
Comment[sl]=Zanshinov vstavek za Kontact
Comment[sv]=Zanshin-insticksprogram för Kontact
Comment[tr]=Kontact ZANSHIN Eklentisi
Comment[uk]=Додаток Zanshin до Kontact
Comment[x-test]=xxKontact Zanshin Pluginxx
Comment[zh_CN]=Kontact Zanshin 插件
Comment[zh_TW]=Kontact Zanshin 外掛程式
Name=Task Lists
Name[ca]=Llistes de tasques
Name[ca@valencia]=Llistes de tasques
Name[cs]=Seznamy úkolů
Name[da]=Opgavelister
Name[de]=Aufgabenlisten
Name[en_GB]=Task Lists
Name[es]=Lista de tareas
Name[et]=Ülesannete nimekirjad
Name[eu]=Ataza-zerrendak
Name[fi]=Tehtäväluettelot
Name[fr]=Listes de tâches
Name[gl]=Listas de tarefas
Name[ia]=Listas de carga
Name[it]=Elenchi delle attività
Name[ko]=할 일 목록
Name[lt]=Užduočių sąrašai
Name[nl]=Takenlijsten
Name[pl]=Lista zadań
Name[pt]=Listas de Tarefas
Name[pt_BR]=Listas de tarefas
Name[sl]=Seznami opravil
Name[sv]=Uppgiftslistor
Name[tr]=Görev Listeleri
Name[uk]=Списки завдань
Name[x-test]=xxTask Listsxx
Name[zh_TW]=工作列表
