<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="zanshin" version="1">
 <MenuBar>
  <Menu name="settings">
   <Menu name="zanshin_settings" icon="configure">
    <text>Configure Zanshin</text>
    <Action name="zanshin_settings_task_sources" />
    <Action name="zanshin_settings_note_sources" />
   </Menu>
  </Menu>
 </MenuBar>
</kpartgui>
