[Desktop Entry]
Type=Service
Icon=knotes
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_renkuplugin
X-KDE-KontactPluginVersion=10
X-KDE-KontactPartLibraryName=renku_part
X-KDE-KontactPartExecutableName=renku
X-KDE-KontactPartLoadOnStart=false
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_renkuplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-AllowEmptySettings=true

Comment=Kontact Renku Plugin
Comment[ca]=Connector del Renku pel Kontact
Comment[ca@valencia]=Connector del Renku pel Kontact
Comment[da]=Renku-plugin til Kontact
Comment[de]=Renku-Modul für Kontakt
Comment[en_GB]=Kontact Renku Plugin
Comment[es]=Complemento Renku para Kontact
Comment[fi]=Kontactin Renku-osa
Comment[gl]=Complemento de Renku para Kontact
Comment[it]=Estensione per Kontact di Renku
Comment[nl]=Kontact-plugin voor Renku
Comment[pl]=Wtyczka kontaktów Renku
Comment[pt]='Plugin' do Renku para o Kontact
Comment[pt_BR]=Plugin do Renku para o Kontact
Comment[sk]=Plugin Renku pre Kontact
Comment[sv]=Renku-insticksprogram för Kontact
Comment[tr]=Kontact Renku Eklentisi
Comment[uk]=Додаток Renku до Kontact
Comment[x-test]=xxKontact Renku Pluginxx
Comment[zh_CN]=Kontact Renku 插件
Name=Notes
Name[ca]=Notes
Name[ca@valencia]=Notes
Name[cs]=Poznámky
Name[da]=Noter
Name[de]=Notizen
Name[en_GB]=Notes
Name[es]=Notas
Name[fi]=Muistiinpanot
Name[fr]=Notes
Name[gl]=Notas
Name[it]=Note
Name[nl]=Notities
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[sk]=Poznámky
Name[sv]=Anteckningar
Name[tr]=Notlar
Name[uk]=Нотатки
Name[x-test]=xxNotesxx
Name[zh_CN]=便笺
