[Desktop Entry]
Name=Renku Part
Name[fi]=Renku-osa
Name[nl]=Gedeelte voor Renku
Name[pt]=Componente do Renku
Name[sv]=Renku-delprogram
Name[uk]=Модуль Renku
Name[x-test]=xxRenku Partxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=renku_part
Type=Service
Icon=knotes

