[Desktop Entry]
Name=Zanshin Part
Name[da]=Zanshin-Part
Name[de]=Zanshin-Part
Name[es]=Zanshin Part
Name[et]=Zanshini komponent
Name[fi]=Zanshin-osa
Name[fr]=Composant Zanshin
Name[ga]=Comhpháirt
Name[hu]=Zanshin rész
Name[it]=Zanshin Part
Name[km]=ផ្នែក Zanshin
Name[mr]=झान्शिन पार्ट
Name[nl]=Zanshin-onderdeel
Name[pl]=Moduł Zanshin
Name[pt]=Componente do Zanshin
Name[pt_BR]=Parte do Zanshin
Name[ru]=Модуль Zanshin
Name[sk]=Časť Zanshin
Name[sv]=Zanshin-delprogram
Name[tr]=Zanshin Part
Name[uk]=Модуль Zanshin
Name[x-test]=xxZanshin Partxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=zanshin_part
Type=Service
Icon=view-pim-tasks

