[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
Exec=zanshin
Name=Zanshin
Name[bs]=Zanshin
Name[ca]=Zanshin
Name[ca@valencia]=Zanshin
Name[cs]=Zanshin
Name[da]=Zanshin
Name[de]=Zanshin
Name[en_GB]=Zanshin
Name[es]=Zanshin
Name[et]=Zanshin
Name[fi]=Zanshin
Name[fr]=Zanshin
Name[ga]=Zanshin
Name[gl]=Zanshin
Name[hu]=Zanshin
Name[ia]=Zanshin
Name[it]=Zanshin
Name[km]=Zanshin
Name[ko]=Zanshin
Name[lt]=Zanshin
Name[mr]=झान्शिन
Name[nds]=Zanshin
Name[nl]=Zanshin
Name[pl]=Zanshin
Name[pt]=Zanshin
Name[pt_BR]=Zanshin
Name[ru]=Zanshin
Name[sk]=Zanshin
Name[sl]=Zanshin
Name[sv]=Zanshin
Name[tr]=Zanshin
Name[ug]=Zanshin
Name[uk]=Zanshin
Name[x-test]=xxZanshinxx
Name[zh_CN]=Zanshin
Name[zh_TW]=Zanshin
Icon=zanshin
GenericName=To Do Management Application
GenericName[ca]=Aplicació per a gestionar les pendents
GenericName[ca@valencia]=Aplicació per a gestionar les pendents
GenericName[cs]=Aplikace pro správu úkolů
GenericName[de]=Programm zur Aufgabenverwaltung
GenericName[en_GB]=To Do Management Application
GenericName[es]=Aplicación de gestión de lista de tareas pendientes
GenericName[et]=Ülesannete haldamise rakendus
GenericName[fi]=Tehtävienhallintasovellus
GenericName[fr]=Application de gestion de tâches à faire
GenericName[gl]=Aplicación de xestión de tarefas
GenericName[it]=Applicazione per la gestione delle cose fa fare
GenericName[ko]=할 일 관리 프로그램
GenericName[lt]=Užduočių tvarkymo programa
GenericName[nl]=Beheertoepassing voor te verrichten taken
GenericName[pl]=Program do zarządzania zadaniami
GenericName[pt]=Aplicação de Gestão de Tarefas
GenericName[pt_BR]=Aplicativo de gerenciamento de tarefas
GenericName[sv]=Hanteringsprogram av uppgifter
GenericName[uk]=Програма для керування записами завдань
GenericName[x-test]=xxTo Do Management Applicationxx
GenericName[zh_TW]=待辦事項管理應用程式
X-DBUS-ServiceName=org.kde.zanshin
