[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
Exec=zanshin
Name=Zanshin
Name[ast]=Zanshin
Name[bs]=Zanshin
Name[ca]=Zanshin
Name[ca@valencia]=Zanshin
Name[cs]=Zanshin
Name[da]=Zanshin
Name[de]=Zanshin
Name[es]=Zanshin
Name[et]=Zanshin
Name[fi]=Zanshin
Name[fr]=Zanshin
Name[ga]=Zanshin
Name[gl]=Zanshin
Name[hu]=Zanshin
Name[it]=Zanshin
Name[km]=Zanshin
Name[mr]=झान्शिन
Name[nds]=Zanshin
Name[nl]=Zanshin
Name[pl]=Zanshin
Name[pt]=Zanshin
Name[pt_BR]=Zanshin
Name[ru]=Zanshin
Name[sk]=Zanshin
Name[sl]=Zanshin
Name[sv]=Zanshin
Name[tr]=Zanshin
Name[ug]=Zanshin
Name[uk]=Zanshin
Name[x-test]=xxZanshinxx
Icon=zanshin
GenericName=TODO Management Application
GenericName[bs]=Program za upravljanje zadacima
GenericName[ca]=Aplicació per a gestionar les pendents
GenericName[ca@valencia]=Aplicació per a gestionar les pendents
GenericName[da]=Program til håndtering af gøremål
GenericName[de]=Programm zur Aufgabenverwaltung
GenericName[es]=PARA HACER - Aplicación de gestión
GenericName[et]=Ülesannete haldamise rakendus
GenericName[fi]=Tehtävienhallintasovellus
GenericName[fr]=Application de gestion de tâches à faire
GenericName[ga]=Feidhmchlár Bainisteoireachta Tascanna
GenericName[gl]=Programa de xestión de tarefas
GenericName[hu]=Tennivaló kezelő alkalmazás
GenericName[it]=Applicazione per la gestione delle COSE DA FARE
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ការងារ​ត្រូវ​ធ្វើ
GenericName[mr]=कार्य व्यवस्थापन अनुप्रयोग
GenericName[nds]=Programm för de Opgavenpleeg
GenericName[nl]=Beheertoepassing voor taken
GenericName[pl]=Program do zarządzania zadaniami
GenericName[pt]=Aplicação de Gestão de Tarefas
GenericName[pt_BR]=Aplicativo de gerenciamento de tarefas
GenericName[ru]=Программа для планирования дел
GenericName[sk]=Aplikácia na správu úloh
GenericName[sl]=Program za urejanje opravil
GenericName[sv]=Hanteringsprogram för uppgifter
GenericName[tr]=Yapılacaklar Yönetimi Uygulaması
GenericName[ug]=قىلىدىغان ئىشلار تىزىمىنى باشقۇرۇش پروگراممىسى
GenericName[uk]=Програма для керування записами завдань
GenericName[x-test]=xxTODO Management Applicationxx
X-DBUS-ServiceName=org.kde.zanshin
