[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
Exec=zanshin
Name=Zanshin
Name[ar]=زانشين
Name[ast]=Zanshin
Name[bg]=Zanshin
Name[bs]=Zanshin
Name[ca]=Zanshin
Name[ca@valencia]=Zanshin
Name[cs]=Zanshin
Name[da]=Zanshin
Name[de]=Zanshin
Name[en_GB]=Zanshin
Name[eo]=Zanshin
Name[es]=Zanshin
Name[et]=Zanshin
Name[eu]=Zanshin
Name[fi]=Zanshin
Name[fr]=Zanshin
Name[ga]=Zanshin
Name[gl]=Zanshin
Name[he]=Zanshin
Name[hi]=ज़ांशिन
Name[hu]=Zanshin
Name[ia]=Zanshin
Name[it]=Zanshin
Name[ka]=Zanshin
Name[km]=Zanshin
Name[ko]=Zanshin
Name[lt]=Zanshin
Name[mr]=झान्शिन
Name[my]=ဇန်ရှင်
Name[nds]=Zanshin
Name[nl]=Zanshin
Name[nn]=Zanshin
Name[pl]=Zanshin
Name[pt]=Zanshin
Name[pt_BR]=Zanshin
Name[ro]=Zanshin
Name[ru]=Zanshin
Name[sa]=ज़ान्शिन्
Name[sk]=Zanshin
Name[sl]=Zanshin
Name[sv]=Zanshin
Name[tr]=Zanşin
Name[ug]=Zanshin
Name[uk]=Zanshin
Name[x-test]=xxZanshinxx
Name[zh_CN]=Zanshin
Name[zh_TW]=Zanshin
Icon=zanshin
GenericName=To Do Management Application
GenericName[ar]=تطبيق إدارة المهام
GenericName[bg]=Приложение за управление на задачи
GenericName[ca]=Aplicació per a gestionar les tasques pendents
GenericName[ca@valencia]=Aplicació per a gestionar les tasques pendents
GenericName[cs]=Aplikace pro správu úkolů
GenericName[da]=Program til håndtering af gøremål
GenericName[de]=Programm zur Aufgabenverwaltung
GenericName[en_GB]=To Do Management Application
GenericName[eo]=Farendaĵ-Mastruma Aplikaĵo
GenericName[es]=Aplicación de gestión de lista de tareas pendientes
GenericName[et]=Ülesannete haldamise rakendus
GenericName[eu]=Eginkizunak kudeatzeko aplikazioa
GenericName[fi]=Tehtävienhallintasovellus
GenericName[fr]=Application de gestion de tâches à faire
GenericName[gl]=Aplicación de xestión de tarefas
GenericName[he]=יישום לניהול מטלות
GenericName[hi]=प्रबंधन अनुप्रयोग करने के लिए
GenericName[hu]=Tennivaló-kezelő alkalmazás
GenericName[ia]=Application per gerer agenda (actiones de facer)
GenericName[it]=Applicazione per la gestione delle cose fa fare
GenericName[ka]=გასაკეთებელი საგნების მართვის აპლიკაცია
GenericName[ko]=할 일 관리 앱
GenericName[lt]=Užduočių tvarkymo programa
GenericName[my]=လုပ်ရန် စီမံမှု အပ္ပလီကေးရှင်း
GenericName[nl]=Beheertoepassing voor te verrichten taken
GenericName[nn]=Oppgåveliste-program
GenericName[pl]=Program do zarządzania zadaniami
GenericName[pt]=Aplicação de Gestão de Tarefas
GenericName[pt_BR]=Aplicativo de gerenciamento de tarefas
GenericName[ro]=Aplicație pentru gestiunea obiectivelor
GenericName[ru]=Приложение для управления задачами
GenericName[sa]=To Do प्रबन्धन अनुप्रयोग
GenericName[sk]=Aplikácia na správu úloh
GenericName[sl]=Program za upravljanje opravil
GenericName[sv]=Hanteringsprogram av uppgifter
GenericName[tr]=Yapılacaklar Yönetimi Uygulaması
GenericName[uk]=Програма для керування записами завдань
GenericName[x-test]=xxTo Do Management Applicationxx
GenericName[zh_TW]=待辦事項管理應用程式
