[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
Exec=zanshin
Name=Zanshin
Name[nds]=Zanshin
Name[pt]=Zanshin
Name[sv]=Zanshin
Name[uk]=Zanshin
Name[x-test]=xxZanshinxx
Icon=office-calendar
GenericName=TODO Management Application
GenericName[nds]=Programm för de Opgavenpleeg
GenericName[pt]=Aplicação de Gestão de Tarefas
GenericName[sv]=ATT GÖRA hanteringsprogram
GenericName[uk]=Програма для керування записами завдань
GenericName[x-test]=xxTODO Management Applicationxx
