[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
Exec=zanshin
Name=Zanshin
Name[cs]=Zanshin
Name[da]=Zanshin
Name[de]=Zanshin
Name[es]=Zanshin
Name[et]=Zanshin
Name[fr]=Zanshin
Name[it]=Zanshin
Name[km]=Zanshin
Name[nds]=Zanshin
Name[nl]=Zanshin
Name[pl]=Zanshin
Name[pt]=Zanshin
Name[pt_BR]=Zanshin
Name[sk]=Zanshin
Name[sv]=Zanshin
Name[ug]=Zanshin
Name[uk]=Zanshin
Name[x-test]=xxZanshinxx
Icon=zanshin
GenericName=TODO Management Application
GenericName[da]=Program til håndtering af gøremål
GenericName[de]=Programm zur Aufgabenverwaltung
GenericName[es]=PARA HACER - Aplicación de gestión
GenericName[et]=Ülesannete haldamise rakendus
GenericName[fr]=Application de gestion de tâches à effectuer
GenericName[it]=Applicazione per la gestione delle COSE DA FARE
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ការងារ​ត្រូវ​ធ្វើ
GenericName[nds]=Programm för de Opgavenpleeg
GenericName[nl]=Beheertoepassing voor taken
GenericName[pl]=Program zarządzający zadaniami 'do zrobienia'
GenericName[pt]=Aplicação de Gestão de Tarefas
GenericName[pt_BR]=Aplicativo de gerenciamento de tarefas
GenericName[sv]=Hanteringsprogram för uppgifter
GenericName[ug]=قىلىدىغان ئىشلار تىزىمىنى باشقۇرۇش پروگراممىسى
GenericName[uk]=Програма для керування записами завдань
GenericName[x-test]=xxTODO Management Applicationxx
