[Desktop Entry]
Type=Service
Icon=view-pim-tasks
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_zanshinplugin
X-KDE-KontactPluginVersion=9
X-KDE-KontactPartLibraryName=zanshin_part
X-KDE-KontactPartExecutableName=zanshin
X-KDE-KontactPartLoadOnStart=false
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_zanshinplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-AllowEmptySettings=true

Comment=Kontact Zanshin Plugin
Comment[es]=Complemento Kontact para Zanshin
Comment[nl]=Kontact-plugin voor Zanshin
Comment[pt]='Plugin' do Zanshin para o Kontact
Comment[sv]=Zanshin-insticksprogram för Kontact
Comment[uk]=Додаток Zanshin до Kontact
Comment[x-test]=xxKontact Zanshin Pluginxx
Name=Todo Lists
Name[es]=Lista de tareas
Name[nl]=Takenlijsten
Name[pt]=Listas de Itens Por-Fazer
Name[sv]=Uppgiftslistor
Name[uk]=Списки завдань
Name[x-test]=xxTodo Listsxx
