[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
Exec=zanshin
Name=Zanshin
Name[cs]=Zanshin
Name[de]=Zanshin
Name[es]=Zanshin
Name[fr]=Zanshin
Name[nds]=Zanshin
Name[nl]=Zanshin
Name[pt]=Zanshin
Name[pt_BR]=Zanshin
Name[sv]=Zanshin
Name[uk]=Zanshin
Name[x-test]=xxZanshinxx
Icon=office-calendar
GenericName=TODO Management Application
GenericName[es]=PARA HACER - Aplicación de gestión
GenericName[fr]=Application de gestion de tâches à effectuer
GenericName[nds]=Programm för de Opgavenpleeg
GenericName[nl]=Beheertoepassing voor taken
GenericName[pt]=Aplicação de Gestão de Tarefas
GenericName[pt_BR]=Aplicativo de gerenciamento de tarefas
GenericName[sv]=ATT GÖRA hanteringsprogram
GenericName[uk]=Програма для керування записами завдань
GenericName[x-test]=xxTODO Management Applicationxx
