[Desktop Entry]
Name=Zanshin Tasks
Comment=Add tasks to your todo list
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=zanshin
X-KDE-Library=krunner_zanshin
X-KDE-PluginInfo-Author=Zanshin Team
X-KDE-PluginInfo-Name=org.kde.zanshin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
