[Desktop Entry]
Name=Zanshin Tasks
Name[ca]=Pendents del Zanshin
Name[ca@valencia]=Pendents del Zanshin
Name[cs]=Úkoly Zanshin
Name[da]=Zanshin Opgaver
Name[de]=Zanshin-Aufgaben
Name[en_GB]=Zanshin Tasks
Name[es]=Tareas de Zanshin
Name[et]=Zanshini ülesanded
Name[fi]=Zanshin-tehtävät
Name[fr]=Tâches Zanshin
Name[gl]=Tarefas de Zanshin
Name[it]=Attività di Zanshin
Name[ko]=Zanshin 할 일
Name[lt]=Zanshin užduotys
Name[nl]=Zanshin taken
Name[pl]=Zadania Zanshin
Name[pt]=Tarefas do Zanshin
Name[pt_BR]=Tarefas do Zanshin
Name[sv]=Zanshin uppgifter
Name[tr]=Zanshin Görevleri
Name[uk]=Завдання Zanshin
Name[x-test]=xxZanshin Tasksxx
Name[zh_TW]=Zanshin Tasks
Comment=Add tasks to your todo list
Comment[bs]=Dodaj zadatke u listu za uraditi
Comment[ca]=Afegeix tasques a la vostra llista de pendents
Comment[ca@valencia]=Afig tasques a la vostra llista de pendents
Comment[da]=Tilføj opgaver til din gøremålsliste
Comment[de]=Aufgaben zu Ihrer Aufgabenliste hinzufügen
Comment[en_GB]=Add tasks to your todo list
Comment[es]=Añadir tareas a su lista de pendientes
Comment[et]=Ülesannete lisamine sinu ülesannete nimekirja.
Comment[fi]=Lisää tehtäviä tehtäväluetteloosi
Comment[fr]=Ajoute des tâches à votre liste de tâches à faire
Comment[ga]=Cuir tascanna le do liosta
Comment[gl]=Engade tarefas á lista das pendentes
Comment[hu]=Feladatok hozzáadása a tennivaló listához
Comment[it]=Aggiungi attività alla lista delle tue cose da fare
Comment[km]=បន្ថែម​ភារកិច្ច​ទៅ​​ក្នុង​បញ្ជី​ការងារ​ត្រូវ​ធ្វើ​របស់​អ្នក
Comment[ko]=내 할 일 목록에 작업 추가
Comment[lt]=Pridėti užduotis į jūsų užduočių sąrašą
Comment[mr]=तुमच्या कार्य यादीत कार्ये जोडा
Comment[nl]=Voeg taken toe aan uw lijst met taken
Comment[pl]=Dodaje zadania do listy zadań
Comment[pt]=Adicionar tarefas à sua lista de itens por-fazer
Comment[pt_BR]=Adicionar tarefas à sua lista
Comment[ru]=Добавление задач в ваш список дел
Comment[sk]=Pridať úlohy do vášho zoznamu úloh
Comment[sl]=Dodaj opravila v seznam opravil
Comment[sv]=Lägg till uppgifter i uppgiftslistan
Comment[tr]=Yapılacaklar listenize görev ekler
Comment[uk]=Додавання завдань до вашого списку
Comment[x-test]=xxAdd tasks to your todo listxx
Comment[zh_CN]=添加任务到您的待办事项
Comment[zh_TW]=新增工作至待辦事項清單
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=zanshin
X-KDE-Library=krunner_zanshin
X-KDE-PluginInfo-Author=Zanshin Team
X-KDE-PluginInfo-Name=org.kde.zanshin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
