[Desktop Entry]
Name=Zanshin Todo
Name[da]=Zanshin gøremål
Name[de]=Zanshin-Aufgaben
Name[es]=Tareas pendientes de Zanshin
Name[et]=Zanshini ülesanded
Name[fr]=Tâche Zanshin
Name[km]=ការ​ងារ​ត្រូវ​ធ្វើ​របស់ Zanshin
Name[nl]=Zanshin taken
Name[pt]=Itens Por-Fazer Zanshin
Name[pt_BR]=Lista de tarefas Zanshin
Name[sv]=Zanshin uppgifter
Name[uk]=Завдання Zanshin
Name[x-test]=xxZanshin Todoxx
Comment=Add tasks to your todo list
Comment[da]=Tilføjer opgaver til din gøremålsliste
Comment[de]=Aufgaben zu Ihrer Aufgabenliste hinzufügen
Comment[es]=Añadir tareas a su lista de pendientes
Comment[et]=Ülesannete lisamine sinu ülesannete nimekirja.
Comment[fr]=Ajoute des tâches à votre liste de tâches
Comment[km]=បន្ថែម​ភារកិច្ច​ទៅ​​ក្នុង​បញ្ជី​ការងារ​ត្រូវ​ធ្វើ​របស់​អ្នក
Comment[nl]=Voeg taken toe aan uw lijst met taken
Comment[pt]=Adicionar tarefas à sua lista de itens por-fazer
Comment[pt_BR]=Adicionar tarefas à sua lista
Comment[sv]=Lägg till uppgifter i uppgiftslistan
Comment[uk]=Додавання завдань до вашого списку
Comment[x-test]=xxAdd tasks to your todo listxx
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=office-calendar
X-KDE-Library=krunner_zanshin
X-KDE-PluginInfo-Author=Zanshin Team
X-KDE-PluginInfo-Name=org.kde.zanshin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
